<div class="container mt-2">
  <form (ngSubmit)="registerStudent()" class="col-lg-8" action="">
    <div class="row">
      <div class="col-lg-4">
        <mat-form-field>
          <input [(ngModel)]="loggedStudent.name" placeholder="Name"
          name="studentName" required type="text" matInput />
        </mat-form-field>
      </div>

      <div class="col-lg-4">
        <mat-form-field>
          <input placeholder="Semester"
          [(ngModel)]="loggedStudent.sem"
          name="sem"
           required type="number" matInput />
        </mat-form-field>
      </div>

      <div class="col-lg-4">
        <mat-form-field>
          <input placeholder="Email"
          [(ngModel)]="loggedStudent.email"
          name="email"
           required type="email" matInput />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <mat-form-field>
          <input 
          [(ngModel)]="loggedStudent.username"
          name="username"
          placeholder="Username" required type="text" matInput />
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="loggedStudent.password"
            name="password"
            [type]="hide ? 'password' : 'text'"
            placeholder="Password"
            required
          />
          <a
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </a>
        </mat-form-field>
      </div>
    </div>
    <button type="submit" mat-raised-button color="primary">Sign Up</button>
  </form>
</div>
