<div class="container mb-5">
    <div class="container my-3">
      <button mat-icon-button class="mat-elevation-z8"><mat-icon>refresh</mat-icon></button>
    </div>
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by number"
        >
          ID.
        </th>
        <td mat-cell *matCellDef="let details">{{ details.id }}</td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by number"
        >
          Name.
        </th>
        <td mat-cell *matCellDef="let details">{{ details.student.name }}</td>
      </ng-container>
  
      <ng-container matColumnDef="book">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by number"
        >
          Book.
        </th>
        <td mat-cell *matCellDef="let details">{{ details.book.name }}</td>
      </ng-container>
  
      <ng-container matColumnDef="issue">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by number"
        >
          Issued.
        </th>
        <td mat-cell *matCellDef="let details">{{ details.issueDate }}</td>
      </ng-container>

      <ng-container matColumnDef="approve">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by number"
        >
          Approved.
        </th>
        <td mat-cell *matCellDef="let details">{{ details.approveDate }}</td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let details">
          <div *ngIf="details.approved">
            <button mat-icon-button color="primary"><mat-icon>check_circle</mat-icon></button>
          <button (click)="deleteIssuance(details.student.id,details.book.id)" mat-icon-button color="accent"><mat-icon>delete</mat-icon></button>
          </div>
          
          <div *ngIf="!details.approved">
            <button (click)="approve(details.student.id,details.book.id)" mat-icon-button><mat-icon>cloud_upload</mat-icon></button>
          </div>
          
        </mat-cell>
        
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>