<div class="container my-5">
  <div class="mat-elevation-z8">
    <mat-card class="example-card">
      <div class="container py-5 px-5">
        <mat-card-title-group>
          <mat-card-title>{{ student.name }}</mat-card-title>
          <mat-card-subtitle>Student</mat-card-subtitle>
          <img
            mat-card-sm-image
            src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png"
            style="border-radius: 50%; height: 100px; width: 100px"
          />
        </mat-card-title-group>
        <mat-card-content>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <mat-icon>person</mat-icon>&nbsp; {{ student.username }}
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon> email</mat-icon>&nbsp; {{ student.email }}
            </mat-list-item>

            <mat-divider></mat-divider>
            <mat-list-item role="listitem">
              <b>Semester :&nbsp;</b> {{ student.sem }}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <div class="container">
            <button mat-icon-button color="accent">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="primary">
              <mat-icon>share</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>
