<div class="container my-5">
    
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by number"
        >
          ID.
        </th>
        <td mat-cell *matCellDef="let student">{{ student.id }}</td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by number"
        >
          Name.
        </th>
        <td mat-cell *matCellDef="let student">{{ student.name }}</td>
      </ng-container>
  
      <ng-container matColumnDef="username">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by number"
        >
          Username.
        </th>
        <td mat-cell *matCellDef="let student">{{ student.username }}</td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by number"
        >
          Email.
        </th>
        <td mat-cell *matCellDef="let student">{{ student.email }}</td>
      </ng-container>

      <ng-container matColumnDef="sem">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by number"
        >
          Sem.
        </th>
        <td mat-cell *matCellDef="let student">{{ student.sem }}</td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let student">
          <button  mat-icon-button><mat-icon>report</mat-icon></button>
          <button  mat-icon-button color="accent"><mat-icon>delete</mat-icon></button>
          <button  mat-icon-button color="primary"><mat-icon>visibility</mat-icon></button>
        </mat-cell>
        
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>