<div class="container mt-2">
  <form class="col-3" action="">
    <div class="row">
      <mat-form-field>
        <input placeholder="Username" type="text" matInput />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button type="submit" mat-raised-button color="primary">Login</button>
  </form>
</div>
