<div class="container mt-2">
  <form (ngSubmit)="loginStudent()" class="col-3" action="">
    <div class="row">
      <mat-form-field>
        <input 
        [(ngModel)]="credential.username"
        name="username"
        placeholder="Username" type="text" matInput />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <input
        [(ngModel)]="credential.password"
        name="password"
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Password"
        />
        <a
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </a>
      </mat-form-field>
    </div>
    <button type="submit" mat-raised-button color="primary">Login</button>
  </form>
</div>
