<div class="container mt-2">
    <form (ngSubmit)="registerAdmin()" class="col-lg-8" action="">
      <div class="row">
        <div class="col-lg-4">
          <mat-form-field>
            <input 
            [(ngModel)]="loggedAdmin.name"
            name="adminName"
            placeholder="Name" required type="text" matInput />
          </mat-form-field>
        </div>
  
        <div class="col-lg-4">
          <mat-form-field>
            <input 
            [(ngModel)]="loggedAdmin.role"
            name="role"
            placeholder="Role" type="text" matInput />
          </mat-form-field>
        </div>
  
        <div class="col-lg-4">
          <mat-form-field>
            <input 
            [(ngModel)]="loggedAdmin.email"
            name="email"
            placeholder="Email" required type="email" matInput />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <mat-form-field>
            <input 
            [(ngModel)]="loggedAdmin.username"
            name="username"
            placeholder="Username" required type="text" matInput />
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field>
            <input
              matInput
              [(ngModel)]="loggedAdmin.password"
            name="password"
              [type]="hide ? 'password' : 'text'"
              placeholder="Password"
              required
            />
            <a
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </a>
          </mat-form-field>
        </div>
      </div>
      <button type="submit" mat-raised-button color="primary">Sign Up</button>
    </form>
  </div>
  